@import url('./app/style/Home.css');
@import url('./app/style/SignIn.css');
@import url('./app/style/LogIn.css');
@import url('./app/style/Navbar.css');
@import url('./app/style/Game.css');
@import url('./app/style/Dashboard.css');
@import url('./app/style/Settings.css');
@import url('./app/style/2FA.css');
@import url('./app/style/GameHistory.css');
@import url('./app/style/FriendsList.css');
@import url('./app/style/LogOut.css');
@import url('./app/style/AboutUs.css');
@import url('./app/style/CharteMsg.css');
@import url('./app/style/UpdateData.css');
@import url('./app/style/FriendProfile.css');
@import url('./app/style/QRCode.css');
@import url('./app/style/DeleteAccount.css');


@font-face {
    font-family: 'JuliusSansOne';
    src: url( './app/fonts/Julius_Sans_One/JuliusSansOne-Regular.ttf');
}

@font-face {
    font-family: 'Play';
    src: url( './app/fonts/Play/Play-Regular.ttf');
}

.bg-nagoya {
    background-image: url('./app/images/nagoya.png');
}

.bg-roland {
    background-image: url('./app/images/roland.png');
}

.bg-wimbledon {
    background-image: url('./app/images/wimbledon.png');
}

body {
    font-family: 'JuliusSansOne', sans-serif;
    margin: 0;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
}

a {
    text-decoration: none;
    color: black;
}
