.charte-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    overflow: auto;
}

.charte-title {
    color: white;
    margin-bottom: 4vh;
    font-size: 2.5vw;
}

.charte-text {
    color: white;
    margin-bottom: 4vh;
    font-size: 1vw;
}

.charte-msg {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50vw;
    height: 70vh;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.2);
    position: relative;
    border: 1px solid rgba(255, 255, 255, 0.1);
    overflow: auto;
    padding: 6vh 5vw;
    box-sizing: border-box; 
}

@media (max-width: 693px) {
    .charte-title {
        font-size: 4vw;
    }

    .charte-text {
        font-size: 2.5vw;
    }

    .charte-msg {
        width: 90vw;
        height: auto; 
        padding: 5vh 2vw;
    }

    .btn-charte {
        font-size: 3vw;
        width: auto;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media (max-height: 624px) {
    .charte-msg {
        padding-top: 10vh;
    }
}

@media (min-width: 693px) and (max-width: 1340px) {
    .charte-text {
        font-size: 1.3vw;
    }

    .charte-msg {
        padding-top: 12vh;
    }

    .btn-charte {
        margin-top: -6vh;
    }
}


