/* GENERAL */
.dashboard-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
}

/* PARTIE STAT (left component) */
.left-side-stat,
.right-side-history {
    flex: 1;
    margin: 10px;
    box-sizing: border-box;
}

.id-stat {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 4vw;
    margin-left: 10vw;
}

.statistics-stat {
    display: flex;
    justify-content: space-between;
	align-items: flex-start;
    padding: 20px;
    box-sizing: border-box;
	margin: 15vh auto;
    width: 90vw;
	max-width: 1500px;
    height: 30vw;
    padding-bottom: 25vw;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.2);
	z-index: 10;
	position: fixed;
	bottom: 2vw;
}

.profile-picture-stat {
    width: 7vw;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.status-stat {
    margin-top: 3px;
    margin-left: 15px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 100%;
}

.name-and-settings {
    display: flex;
    flex-direction: row;
}

.username-stat {
    color: white;
    text-align: center;
    text-shadow: 0px 6px 12px rgba(0, 0, 0, 0.5);
    margin-top: 10px;
    margin-left: 20px;
    font-size: 300%;
}

.status-text {
    color: white;
    margin-left: 15px;
}

.text-stat {
    display: flex;
    flex-direction: column;
}

.status-dropdown {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.green-pastille {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: green;
}

.transparent-dropdown {
    background-color: transparent;
    border: none;
    color: white;
}

.transparent-dropdown:hover,
.transparent-dropdown:focus {
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    box-shadow: none;
}

.yellow-pastille {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: gold;
}

.red-pastille {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: red;
}

.gear-icon {
    display: flex;
    font-size: 1.5rem;
    color: rgba(255, 255, 255, 0.2);
    margin-left: 20px;
    margin-top: 33px;
}

.gear-icon:hover {
    color: white;
}

.footer-link {
	position: fixed;
	bottom: 20px;
	left: 200px;
	width: 100%;
	z-index: 100;
    display: flex;
	align-items: center;
    flex-direction: row;
    justify-content: flex-start;
}

.leader-text-stat {
    margin-left: 15px;
    margin-top: 15px;
    color: white;
    font-size: 1.5vw;
}

.leader-text-stat:hover {
    color:gold;
}

.trophy-icon {
    font-size: 3rem;
    color: white;
    transition: color 0.3s ease;
}

.trophy-icon:hover {
    color: gold;
}

.list-icon {
    font-size: 3rem;
    color: white;
}

.list-icon:hover {
    color: gold;
}

.friends-list-stat {
    margin-left: 11vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.list-text-stat {
    margin-left: 15px;
    margin-top: 15px;
    color: white;
    font-size: 1.5vw;
}

.list-text-stat:hover {
    color: gold;
}

.right-side-stat {
    display: flex;
    flex-direction: column;
}

.stat-title-stat {
    margin-left: 3vw;
    color: white;
    text-shadow: 0px 6px 12px rgba(0, 0, 0, 0.5);
    margin-top: 3vh;
    font-size: 170%;
}

/* ANIMATION DASHBOARD ELEMENT */
.camembert-stat {
    background-color: green;
    border-radius: 50%;
    position: absolute;
    transition: width 0.5s ease, height 0.5s ease;
    margin-top: 7vh;
    margin-left: 5vw;
}

.right-side-stat-stat {
    display: flex;
    flex-direction: column; /* Stacks child elements vertically */
    align-items: flex-end;  /* Aligns items to the right */
    margin: 10px;
    box-sizing: border-box;
}

.stat-rubric-stat-stat {
    display: flex;
	justify-content: space-between;
    align-items: center;
	margin-bottom: 10px;
}

.stat-data-stat {
    display: flex;
    flex-direction: column;
    align-items: right;
    justify-content: right;
}

.stat-text-stat {
    color: white;
	flex: 1;
    text-shadow: 0px 6px 12px rgba(0, 0, 0, 0.5);
    font-size: 120%;
}

/* PARTIE GAME HISTORY (right component) */
.right-side-history {
    margin-right: 5vw;
}

.history-history {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20vh;
    width: 25vw;
    height: 35vw;
    padding-bottom: 25vw;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.1);
    overflow: hidden;
}

.stat-number-stat {
    font-size: 350%;
    color: rgb(201, 100, 100);
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
	text-align: right;
    transition: all 0.5s ease-out;
}

.victory-history .number-history {
    margin-top: 28vw;
    color: green;
    font-size: 150px;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
}

.victory-history,
.defeat-history {
    text-align: center;
}

.text-history {
    color: white;
}

.defeat-history .number-history {
    color: rgb(211, 47, 69);
    font-size: 150px;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
}

.game-historic-history {
    color: white;
    margin-left: 10vw;
    text-decoration: underline;
}

/* ANIMATION ICON GEAR */

/* @keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.gear-icon {
    transition: transform 0.5s ease;
}
*/

