.stat-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.id {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 9vh;
    margin-left: 18vw;
}

.statistics-box {
    display: flex;
    margin-left: 18vw;
    margin-top: 9vh;
    width: 65vw;
    max-width: 1500px;
    height: 49vh;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.2);
    z-index: 10;
}

.profile-picture {
    width: 7vw;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.status {
    margin-left: 2vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 100%;
}

.name-and-settings {
    display: flex;
    flex-direction: row;
}

.username-stat {
    color: white;
    text-align: center;
    text-shadow: 0px 6px 12px rgba(0, 0, 0, 0.5);
    margin-top: 2vh;
    margin-left: 2vw;
    font-size: 2.5vw;
}

.status-text {
    color: white;
    margin-left: 7px;
    font-size: 1vw;
}


.text-stat {
    display: flex;
    flex-direction: column;
}

.status-dropdown {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.status-pastille {
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.transparent-dropdown {
    background-color: transparent;
    border: none;
    color: white;
}

.transparent-dropdown:hover,
.transparent-dropdown:focus {
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    box-shadow: none;
}

.gear-icon {
    display: flex;
    font-size: 2vw;
    color: rgba(255, 255, 255, 0.2);
    margin-left: 1vw;
    margin-top: 3.5vh;
}

.gear-icon:hover {
    color: white;
}

.footer-link {
	position: fixed;
	bottom: 5vh;
	width: 100%;
	z-index: 100;
    margin-left: 18vw;
    display: flex;
	align-items: center;
    flex-direction: row;
    justify-content: flex-start;
}

.footer-icon {
    font-size: 2rem;
    color: white;
    margin-top: 0.5vh;
}

.footer-icon:hover {
    color: #245070;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.footer-text {
    margin-left: 1vw;
    margin-top: 1.5vh;
    margin-right: 3vw;
    color: white;
    font-size: 1vw;
}

.footer-text:hover {
    color: #245070;
}

.stat-title {
    margin-left: 3vw;
    color: white;
    text-shadow: 0px 6px 12px rgba(0, 0, 0, 0.5);
    margin-top: 3vh;
    font-size: 2vw;
}

.camembert-stat {
    width: 15vw;
    height: 15vw;
    border-radius: 50%;
    position: absolute;
    transition: width 0.5s ease, height 0.5s ease;
    margin-top: 12vh;
    margin-left: 8vw;
}

.left-side {
    display: flex;
    flex-direction: column;
    margin-right: 2vw;
}

.middle {
    display: flex;
    flex-direction: column;
    margin-right: 12vw;
    margin-left: -5vw;
    justify-content: center;
    margin-top: 20vh;
}

.legend-stat {
    display: flex;
    flex-direction: row;
    text-align: center;
    margin-left: 1vw;
}

.right-side {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    text-align: center;
    justify-content: space-around;
}

.stat-data {
    display: flex;
    flex-direction: column;
}

.stat-text {
	flex: 1;
    color: white;
    text-shadow: 0px 6px 12px rgba(0, 0, 0, 0.5);
    font-size: 110%;
}

.stat-number {
    font-size: 110%;
    margin-bottom: 4vh;
    color: rgb(201, 100, 100);
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
	text-align: center;
    transition: all 0.5s ease-out;
}





/* search pad */
.search-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
}

.search-barre {
    width: 30vw;
    height: 7vh;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.2);
	z-index: 2;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#search-button {
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0; 
    margin-left: 10px;
    position: relative;
}

.search-icon {
    color: white;
    font-size: 2rem;
    margin-right: 4vw;
}

#search-button:hover .search-icon {
    color: #245070;
}

#login-search {
    border: none;
    background-color: transparent;
    width: calc(100% - 20px);
    outline: none;
    color: white;
    font-family: 'Play';
}


.profile-text {
    position: fixed;
    color: black;
    background-color: rgba(255, 255, 255, 0.2);
    margin-left: 2vw;
    width: 6vw;
    height: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    font-size: 70%;
    color: black;
}


.footer-friend-link {
	position: fixed;
	bottom: 5vh;
	width: 75%;
	z-index: 100;
    margin-left: 18vw;
    display: flex;
	align-items: center;
    flex-direction: row;
    justify-content: flex-start;
}

.footer-friend-icon {
    font-size: 2rem;
    color: white;
    margin-top: 0.5vh;
}

.footer-friend-icon:hover {
    color: #245070;
}

.footer-friend {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.footer-friend-text {
    margin-left: 15px;
    margin-top: 15px;
    margin-right: 10vw;
    color: white;
    font-size: 1vw;
}

.footer-friend-text:hover {
    color: #245070;
}

.person-icon {
    display: flex;
    font-size: 2vw;
    color: rgba(255, 255, 255, 0.2);
    margin-left: 1vw;
    color: rgb(71, 136, 71);
}

.person-icon:hover {
    color: white;
}

.friend-status-text {
    color: white;
    margin-left: 7px;
    margin-right: 45vw;
    font-size: 1vw;
}

.delete-icon {
    color: rgb(195, 103, 103);
}

.friend-name {
    display: flex;
    flex-direction: column;
}

.friend-username-stat {
    color: white;
    text-shadow: 0px 6px 12px rgba(0, 0, 0, 0.5);
    margin-top: 2vh;
    margin-left: 1vw;
    font-size: 2.5vw;
}


@media (min-width: 768px) and (max-width: 1278px) {

    .middle {
        display: none;
    }

    .left-side {
        margin-right: 22vw;
    }

    .camembert-stat {
        width: 22vw;
        height: 22vw;
        margin-top: 11vh;
    }

    .stat-title {
        font-size: 1.5vw;
    }

    .footer-text {
        display: none;
    }

    .footer{
        margin-left: 9vw;
    }

    .profile-picture {
        width: 10vw;
    }

    .username-stat  {
        font-size: 3vw;
        margin-left: 4vw;
    }

    .gear-icon {
        font-size: 3vw;
    }

    .status-text {
        margin-left: 7px;
        font-size: 1.5vw;
    }

    .stat-text {
        font-size: 70%;
    }

    .person-icon {
        font-size: 3vw;
    }

    .friend-status-text {
        margin-right: 35vw;
        font-size: 1.5vw;
        margin-top: 0.1vh;
    }

    .profile-text {
        font-size: 1.5vw;
        margin-left: 4vw;
        width: 10vw;
        height: 2vw;
        
    }

    .friend-username-stat {
        font-size: 3vw;
        margin-left: 4vw;
    }
    
}


@media (max-width: 768px) {
    .footer-text {
        display: none;
    }

    .right-side {
        display: none;
    }

    .middle {
        display: none;
    }

    .stat-title {
        display: none;
    }

    .camembert-stat {
        width: 35vw;
        height: 35vw;
        margin-top: 8vh;
        margin-left: 14vw;
    }

    .footer-icon {
        margin-right: 4vw;
    }

    .profile-picture {
        width: 12vw;
    }

    .username-stat  {
        font-size: 4vw;
        margin-left: 4vw;
    }

    .gear-icon {
        font-size: 3vw;
    }

    .status-text {
        margin-left: 7px;
        font-size: 2vw;
    }

    .friend-status-text {
        margin-right: 25vw;
        font-size: 2vw;
    }

    .footer-friend-text {
        display: none;
    }

    .profile-text {
        font-size: 1.5vw;
        margin-left: 4vw;
        width: 10vw;
        height: 2vw;
    }

    .friend-username-stat {
        margin-left: 2vw;
    }

    .person-icon {
        font-size: 3vw;
    }

    .footer-friend-icon {
        margin-left: 3vw;
    }

}