.stat-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.id {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 9vh;
    margin-left: 16vw;
}

.statistics-box {
    display: flex;
    margin-left: 16vw;
    margin-top: 6vh;
    width: 70vw;
	max-width: 1500px;
    height: 55vh;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.2);
	z-index: 10;
}

.profile-picture {
    width: 7vw;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.status {
    margin-left: 2vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 100%;
}

.name-and-settings {
    display: flex;
    flex-direction: row;
}

.username-stat {
    color: white;
    text-align: center;
    text-shadow: 0px 6px 12px rgba(0, 0, 0, 0.5);
    margin-top: 2vh;
    margin-left: 2vw;
    font-size: 2.5vw;
}

.status-text {
    color: white;
    margin-left: 7px;
    font-size: 1vw;
}

.text-stat {
    display: flex;
    flex-direction: column;
}

.status-dropdown {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 7px;
}

.status-pastille {
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.transparent-dropdown {
    background-color: transparent;
    border: none;
    color: white;
}

.transparent-dropdown:hover,
.transparent-dropdown:focus {
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    box-shadow: none;
}

.gear-icon {
    display: flex;
    font-size: 2vw;
    color: rgba(255, 255, 255, 0.2);
    margin-left: 1vw;
    margin-top: 3.5vh;
}

.gear-icon:hover {
    color: white;
}

.footer-link {
	position: fixed;
	bottom: 5vh;
	width: 100%;
	z-index: 100;
    margin-left: 17vw;
    display: flex;
	align-items: center;
    flex-direction: row;
    justify-content: flex-start;
}

.footer-icon {
    font-size: 2rem;
    color: white;
}

.footer-icon:hover {
    color: gold;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.footer-text {
    margin-left: 15px;
    margin-top: 15px;
    margin-right: 3vw;
    color: white;
    font-size: 1vw;
}

.footer-text:hover {
    color: gold;
}

.stat-title {
    margin-left: 3vw;
    color: white;
    text-shadow: 0px 6px 12px rgba(0, 0, 0, 0.5);
    margin-top: 3vh;
    font-size: 2vw;
}

.camembert-stat {
    background-color: green;
    border-radius: 50%;
    position: absolute;
    transition: width 0.5s ease, height 0.5s ease;
    margin-top: 7vh;
    margin-left: 5vw;
}

.left-side {
    display: flex;
    flex-direction: column;
    margin-right: 20vw;
}

.right-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.stat-data {
    display: flex;
    flex-direction: column;
}

.stat-text {
	flex: 1;
    color: white;
    text-shadow: 0px 6px 12px rgba(0, 0, 0, 0.5);
    font-size: 110%;
}

.stat-number {
    font-size: 110%;
    margin-bottom: 4vh;
    color: rgb(201, 100, 100);
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
	text-align: center;
    transition: all 0.5s ease-out;
}


@media (max-width: 768px) {
    .footer-text {
        display: none;
    }

    .footer-icon {
        margin-right: 10vw;
    }

}
