.main-containerf {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    opacity: 0;
    transform: scale(0);
    transform-origin: center bottom;
    transition: transform 0.5s ease, opacity 0.5s ease;
    margin-top: 100px;
}

.fl-hidden {
    opacity: 0;
    transform: scale(0);
}

.fl-visible {
    opacity: 1;
    transform: scale(1);
}

.friends-containerf {
    margin-top: 10px;
    width: 31%;
    height: 80%;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.2);
    position: relative;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.friend-count {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-weight: bold;
    text-align: center;
}

.close-btnf {
    position: absolute;
    top: 5px;
    right: 20px;
    font-size: 40px;
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
    text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.5);
    transition: color 0.3s, text-shadow 0.3s;
}

.close-btnf:hover {
    text-shadow: 0 0 10px rgba(255, 0, 0, 0.7);
    color: rgb(81, 81, 88);
}

.titlef {
    color: white;
    text-align: center;
    text-shadow: 0px 6px 12px rgba(0, 0, 0, 0.5);
    margin-top: 10px;
    font-size: 20px;
    font-weight: 300;
}

.friends-tablef {
    width: 100%;
    margin-top: 50px;
    table-layout: fixed;
}

.friend-row {
    display: flex;
    align-items: center;
}

.friends-tablef td {
    padding: 10px;
    text-align: left;
    font-size: 16px;
    vertical-align: middle;
    display: flex;
    align-items: center;
}

.friends-tablef td img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 10px;
}

.userf {
    text-shadow: 0px 5px 3px rgba(0, 0, 0, 0.5);
}

.remove-btnf {
    cursor: pointer;
    color: #ff0000;
    font-size: 20px;
    background-color: transparent;
    text-shadow: 0px 5px 3px rgba(0, 0, 0, 0.4);
    margin-left: auto;
}

.remove-btnf:hover {
    color: #ff0000;
    text-shadow: 0 3px 3px rgba(255, 0, 0, 0.7); 
}