.main-containerf {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    opacity: 0;
    transform: scale(0);
    transform-origin: center bottom;
    transition: transform 0.5s ease, opacity 0.5s ease;
    margin-top: 30px;
}

.fl-hidden {
    opacity: 0;
    transform: scale(0);
}

.fl-visible {
    opacity: 1;
    transform: scale(1);
}

.friends-containerf {
	margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 30px;
    width: auto;
    max-width: 35%;
    min-width: 250px;
    height: max-content;
    min-height: 20%;
    padding: 20px;
    padding-top: 10px;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.2);
    position: relative;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.friend-count {
	position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-weight: bold;
    opacity: 0.6;
    font-size: 0.85em;
    text-align: center;
}

.close-btnf {
    position: fixed;
    top: -20px;
    right: 40px;
    font-size: 40px;
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
    text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.5);
    transition: color 0.3s, text-shadow 0.3s;
}

.close-btnf:hover {
    text-shadow: 0 0 10px rgba(255, 0, 0, 0.7);
    color: rgb(81, 81, 88);
}

.titlef {
    color: white;
    text-align: center;
	overflow: hidden;
    text-shadow: 0px 6px 12px rgba(0, 0, 0, 0.5);
    margin-top: 0px 0 5px 0;
    font-size: 20px;
    font-weight: 300;
}

.friends-tablef {
    width: 100%;
    margin-top: 5px;
    table-layout: fixed;
}

.friend-row {
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: row;
}


.friends-tablef td {
    text-align: center;
    vertical-align: middle;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.friends-tablef td img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 2px;
    display: inline-block;
}

.userf {
    text-shadow: 0px 5px 3px rgba(0, 0, 0, 0.5);
}

.remove-btnf {
	cursor: pointer;
    color: #ff0000;
    font-size: 20px;
    position: absolute;
    left: 10px;
    background-color: transparent;
    text-shadow: 0px 5px 3px rgba(0, 0, 0, 0.4);
}

.remove-btnf:hover {
    color: #6a0c0c;
    text-shadow: 0 3px 3px rgba(255, 0, 0, 0.7); 
}

.status-circle {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
}

.status-circle::after {
    content: attr(data-tooltip);
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 5px;
    border-radius: 3px;
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.3s;
    pointer-events: none;
}

.status-circle:hover::after {
    opacity: 1;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0);
	border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgba(231, 231, 231, 0.2);
	border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(67, 66, 66, 0.6);
}