.frame-game-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.frame-game {
    margin-left: 2vw;
    width: 90vw;
    height: 93vh;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.2);
    position: relative;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.title-game {
    color: white;
    text-align: center;
    text-shadow: 0px 6px 12px rgba(0, 0, 0, 0.5);
    margin-top: 10px;
    font-size: 30px;
}

.frame-game-sm {
    margin-left: 2vw;
    width: 96vw;
    height: 82vh;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.2);
    position: relative;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.title-game-sm {
    color: white;
    text-align: center;
    text-shadow: 0px 6px 12px rgba(0, 0, 0, 0.5);
    margin-top: 10px;
    font-size: 30px;
}

.score-container {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-size: 24px;
    color: white;
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
}

#score-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 24px;
    color: white;
}

#score-player1,
#score-player2 {
    flex: 1;
    text-align: center;
}