.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

 .score-container {
    display: flex;
    justify-content: space-between;
    padding: 2vw;
    font-size: 2vw;
    color: white;
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
}

.score-player {
    flex: 1;
    text-align: center;
    font-size: 2vw;
}

.game-canvas {
    display: block;
    width: 100%;
    height: 100%;
}

.button-container {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.game-button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 1vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1vw;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

.tournoi-buttons {
    margin-top: 11.25vh;
}


.hidden {
    display: none;
} 
