/* GENERAL*/

@font-face {
    font-family: 'JuliusSansOne';
    src: url( '../fonts/Julius_Sans_One/JuliusSansOne-Regular.ttf');
}

body {
    font-family: 'JuliusSansOne', sans-serif;
}

a {
    text-decoration: none;
    color: black;
    font-size: larger;
}

/* BALLS */

.balls-home {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.orange-ball-home {
    margin-right: 30vw;
    width: 40vw;
    height: 40vw;
    max-width: 60vh;
    max-height: 60vh;
    background-color: rgb(218, 147, 16);
    border-radius: 50%;
    box-shadow: 0 8px 16px rgba(0,0,0,0.3),
    inset 0 2px 4px rgba(255,255,255,0.5);
    background-color: rgb(218, 147, 16);
    z-index: 1;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.white-ball-home {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-left: 25%;
    margin-top: 6%;
    width: 40vw;
    height: 40vw;
    max-width: 60vh;
    max-height: 60vh;
    background-color: rgb(218, 147, 16);
    border-radius: 50%;
    box-shadow: 0 8px 16px rgba(0,0,0,0.3),
    inset 0 2px 4px rgba(255,255,255,0.5);
    background-color: white;
    z-index: 2;
}

.orange-ball-home a {
    margin-right: 60px;
}

/* BUTTON */

.btn-container-home {
    position: absolute;
    top: 85%;
    left: 45%;
    transform: translate(-50%, -50%);
    z-index: 4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-42-home {
    display: flex;
    align-items: center;
    border: none;
    background: none;
    cursor: pointer;
}

.co-42-home {
    margin-right: 10px;
}

.img-42-home {
    width: 40px;
    height: auto;
    margin-bottom: 10%;
}

/* MOBILE VERSION */

.balls-sm-home {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.orange-ball-sm-home {
    margin-bottom: 30vh;
    width: 40vw;
    height: 40vw;
    max-width: 60vh;
    max-height: 60vh;
    background-color: rgb(218, 147, 16);
    border-radius: 50%;
    box-shadow: 0 8px 16px rgba(0,0,0,0.3),
    inset 0 2px 4px rgba(255,255,255,0.5);
    background-color: rgb(218, 147, 16);
    z-index: 1;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.white-ball-sm-home {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-top: 6%;
    width: 40vw;
    height: 40vw;
    max-width: 60vh;
    max-height: 60vh;
    background-color: rgb(218, 147, 16);
    border-radius: 50%;
    box-shadow: 0 8px 16px rgba(0,0,0,0.3),
    inset 0 2px 4px rgba(255,255,255,0.5);
    background-color: white;
    z-index: 2;   
}

.btn-container-sm-home {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 4;
    display: flex;
    justify-content: center;
    align-items: center;
}