/*********************************************************/
/*               medium & large screen                   */
/*********************************************************/

/* BALLS */
.balls-home {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.balls-inscription {
    text-decoration: none;
    color: black;
}

.orange-ball-home,
.white-ball-home {
    width: 40vw;
    height: 40vw;
    max-width: 60vh;
    max-height: 60vh;
    border-radius: 50%;
    box-shadow: 0 8px 16px rgba(0,0,0,0.3), inset 0 2px 4px rgba(255,255,255,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5vw;
}

.orange-ball-home {
    position: absolute;
    background-color: rgb(218, 147, 16);
    margin-right: 25vw;
    z-index: 1;
}

.white-ball-home {
    position: absolute;
    margin-top: 3%;
    background-color: white;
    margin-left: 25vw;
    z-index: 2;
}

/* 42 BUTTON */
.btn-container-home {
    position: absolute;
    top: 85%;
    left: 47%;
    transform: translate(-50%, -50%);
    z-index: 4;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1vw;
}

.btn-42-home {
    display: flex;
    align-items: center;
    border: none;
    background: none;
    cursor: pointer;
}

.co-42-home {
    margin-right: 0.5vw;
}

.img-42-home {
    width: 3vw;
    height: auto;
    margin-bottom: 15%;
}

/*********************************************************/
/*                     small screen                      */
/*********************************************************/

/* BALLS */
.balls-home-sm {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.orange-ball-home-sm,
.white-ball-home-sm {
    width: 40vw;
    height: 40vw;
    max-width: 60vh;
    max-height: 60vh;
    border-radius: 50%;
    box-shadow: 0 8px 16px rgba(0,0,0,0.3), inset 0 2px 4px rgba(255,255,255,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5vw;
}

.orange-ball-home-sm {
    margin-bottom: 30vh;
    background-color: rgb(218, 147, 16);
    z-index: 1;
}

.white-ball-home-sm {
    position: absolute;
    margin-top: 12vh;
    background-color: white;
    z-index: 2;
}

/* BUTTON 42*/
.btn-container-home-sm {
    font-size: 2vw; 
}

/*********************************************************/
/*                     media screen                      */
/*********************************************************/

@media (min-width: 1318px) {

    .orange-ball-home {
        margin-left: 3vw;
    }

    .white-ball-home {
        margin-right: 3vw;

    }

    .btn-container-home {
        top: 90%;
        left: 47%;
        font-size: 1vw;
    }
    
    .img-42-home {
        width: 3vw;
        height: auto;
        margin-bottom: 10%;
    }

}

@media (max-height: 350px) {

    .orange-ball-home,
    .white-ball-home {
        font-size: 3vh;
    }
    
}