.container-ldb {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.frame-ldb {
    margin-top: 10px;
    width: 85%;
    height: 80%;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.2);
    position: relative;
    border: 1px solid rgba(255, 255, 255, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.close-btn-ldb {
    position: absolute;
    top: 5px;
    right: 20px;
    font-size: 40px;
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
    text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.close-btn-ldb:hover {
    text-shadow: 0 0 10px rgba(255, 0, 0, 0.7);
    color: rgb(81, 81, 88);
}

.title-ldb {
    color: white;
    text-align: center;
    text-shadow: 0px 6px 12px rgba(0, 0, 0, 0.5);
    margin-top: -10px;
    font-size: 30px;
}

.podium-ldb {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 30%;
}

.first-ldb, .second-ldb, .third-ldb {
    width: 14%;
    background-color: #D9D9D9;
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.first-ldb {
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.first-img-ldb {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.one-ldb {
    color: rgb(201, 100, 100);
    font-size: 650%;
    margin-top: 10px;
    text-shadow:  2px 2px 3px rgba(0, 0, 0, 0.5);
    margin-bottom: 22vh;
}

.second-ldb {
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.two-ldb {
    color: rgb(201, 100, 100);
    font-size: 400%;
    margin-top: 10px;
    text-shadow:  2px 2px 3px rgba(0, 0, 0, 0.5);
    margin-bottom: 17vh;
}

.third-ldb {
    height: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.three-ldb {
    color: rgb(201, 100, 100);
    font-size: 300%;
    margin-top: 10px;
    text-shadow:  2px 2px 3px rgba(0, 0, 0, 0.5);
    margin-bottom: 21vh;
}

.pod-result-ldb {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2vh;
    margin-bottom: 1vh;
    font-size: 10px;
    /* color: silver; */
}

.pod-result-one-ldb {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 7vh;
    margin-bottom: 2vh;
    font-size: 10px;
    /* color: gold; */

}

.pod-result-third-ldb {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5vh;
    margin-bottom: 2vh;
    font-size: 10px;
    /* color: rgb(172, 104, 15); */

}

.leaderboard-list-ldb {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px; 
    margin-right: 5vw;
}

.profil-ldb {
    display: grid;
    grid-template-columns: 100px 60px 90px 90px;
    align-items: center;
    width: 80%;
    border-radius: 10px;
}

.rank-ldb {
    color: rgb(201, 100, 100);
    font-size: 250%;
    text-shadow:  2px 2px 3px rgba(0, 0, 0, 0.5);
    text-align: center;
}

.username-ldb, .score-ldb {
    color: white;
    text-shadow:  2px 2px 3px rgba(0, 0, 0, 0.5);
}

.username-ldb-pod {
    color: white;
    font-size: 250%;
}

.score-ldb-pod {
    color: white;
    font-size: 200%;
}

.profile-picture-ldb img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.profile-picture-ldb-pod img {
    border-radius: 50%;
    width: 70px;
    height: 70px;
}

/* Animation for the leaderboard opening */

.container-ldb {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    opacity: 0;
    transform: scale(0);
    transform-origin: bottom left;
    transition: transform 0.5s ease, opacity 0.5s ease;
}

.container-ldb.animate-ldb {
    opacity: 1;
    transform: scale(1);
}


.leaderboard-animation {
    position: absolute;
    transform-origin: bottom left;
    transition: transform 0.15s ease-out, opacity 0.15s ease-out;
    opacity: 0;
}

.leaderboard-visible {
    transform: scale(1);
    opacity: 1;
}

.leaderboard-hidden {
    transform: scale(0);
    opacity: 0;
}

