/*********************************************************/
/*               medium & large screen                   */
/*********************************************************/

/* BALLS */
.balls-login {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.orange-ball-login,
.white-ball-login {
    width: 40vw;
    height: 40vw;
    max-width: 60vh;
    max-height: 60vh;
    border-radius: 50%;
    box-shadow: 0 8px 16px rgba(0,0,0,0.3), inset 0 2px 4px rgba(255,255,255,0.5);
}

.orange-ball-login {
    margin-right: 25vw;
    background-color: rgb(218, 147, 16);
    z-index: 1; 
}

.white-ball-login {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    margin-left: 25vw;
    margin-top: 6%;
    background-color: white;
    z-index: 2;
}

/* FORMULAR */
.login-form-login {
    position: relative;
    text-align: center;
    overflow: hidden;
    width: 30vw;
    height: 35vh;
    padding: 40px;
    font-family: 'Play';
    margin-top: 5vh;
}

.login-input {
    border: none;
    border-bottom: 1px solid #333;
    background-color: transparent;
    margin: 10px 0;
    padding: 8px;
    width: 18vw;
    outline: none;
}

.login-form-login::before {
    position: relative;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    transform: rotate(45deg);
    opacity: 0.6;
    font-size: 1vw;
}

/* BUTTON */
.button-login {
    font-size: 70%;
    border: solid 2px;
    border-radius: 5px;
    margin-top: 35px;
    color: black;
    font-weight: bold;
    font-family: Lato, sans-serif;
    background-color: transparent;
    cursor: pointer;
    width: 13vw;
    height: 3vh;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    transition: background-color 0.3s, box-shadow 0.3s;

    text-align: center;
}

.button-login:hover {
    background-color: rgb(218, 147, 16);
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}

.arrow {
    color: white;
    margin-bottom: 30vh;
    margin-left: -5vh;
    font-size: 2rem;
}

.arrow:hover {
    color: rgb(218, 147, 16);
}

/*********************************************************/
/*                     small screen                      */
/*********************************************************/

/* BALLS */
.white-ball-login-sm {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    width: 70vw;
    height: 70vw;
    max-width: 60vh;
    max-height: 60vh;
    border-radius: 50%;
    box-shadow: 0 8px 16px rgba(0,0,0,0.3),
    inset 0 2px 4px rgba(255,255,255,0.5);
    background-color: white;
    z-index: 2;
}

/* BUTTON */
.arrow-sm {
    color: white;
    margin-bottom: 50vh;
    margin-right: 50vh;
    font-size: 2rem;
}

.arrow-sm:hover {
    color: orange;
}

/*********************************************************/
/*                     media screen                      */
/*********************************************************/

@media (min-width: 1318px) {

    .orange-ball-login {
        margin-left: 3vw;
    }

    .white-ball-login {
        margin-right: 3vw;
    }

}

@media (max-width: 619px) {
    .arrow-sm {
        margin-bottom: 40vh;
        margin-right: 40vh;
    }

    .button-login {
        font-size: 50%;
        width: 15vw;
        height: 3vh;
    }

    .login-form-login {
        margin-right: 3vh;
    }

}

@media (max-width: 401px) {

    .arrow-sm {
        margin-bottom: 40vh;
        margin-right: 20vh;
    }

    .button-login {
        font-size: 50%;
        width: 15vw;
        height: 3vh;
        margin-left: 1vw;
    }
}

@media (max-height: 774px) {

    .arrow-sm {
        margin-bottom: 60vh;
        margin-right: 40vh;
    }

    .login-form-login {
        margin-top: -5vh;
        padding: 20px;
    }
}

@media (max-height: 550px) {

    .arrow-sm {
        margin-bottom: 60vh;
        margin-right: 40vh;
    }

    .login-form-login {
        margin-top: -10vh;
        padding: 1px;
        font-size: 1.5vw;
    }
}