/* BALLS */

.balls-login {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.orange-ball-login {
    margin-right: 30vw;
    width: 40vw;
    height: 40vw;
    max-width: 60vh;
    max-height: 60vh;
    background-color: rgb(218, 147, 16);
    border-radius: 50%;
    box-shadow: 0 8px 16px rgba(0,0,0,0.3),
    inset 0 2px 4px rgba(255,255,255,0.5);
    background-color: rgb(218, 147, 16);
    z-index: 1; 
}

.white-ball-login {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;

    position: absolute;
    margin-left: 25%;
    margin-top: 6%;
    width: 40vw;
    height: 40vw;
    max-width: 60vh;
    max-height: 60vh;
    background-color: rgb(218, 147, 16);
    border-radius: 50%;
    box-shadow: 0 8px 16px rgba(0,0,0,0.3),
    inset 0 2px 4px rgba(255,255,255,0.5);
    background-color: white;
    z-index: 2;
}

/* FORMULAR */
.login-form-login {
    padding: 40px;
    text-align: center;
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.login-form-login::before {
    /* content: ''; */
    position: relative;
    /* top: 10%; */
    /* left: 25%; */
    /* width: 50%; */
    /* height: 50%; */
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    transform: rotate(45deg);
    opacity: 0.6;
}

/* input[type="text"], input[type="password"] {
    border: none;
    border-bottom: 1px solid #333;
    background-color: transparent;
    margin: 10px 0;
    padding: 8px;
    width: calc(100% - 20px);
    outline: none;
} */

.button-login {
    font-family: Lato, sans-serif;
    font-size: 14px;
    color: black;
    background-color: transparent;
    border: solid 2px;
    border-radius: 5px;
    /* padding: 10px 100px; */
    cursor: pointer;
    text-transform: uppercase;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    transition: background-color 0.3s, box-shadow 0.3s;
    /* width: 50%; */
    /* margin: 10px auto; */
    margin-top: 35px;
    /* margin-bottom: 40px; */
    font-weight: bold;
}

.button-login:hover {
    background-color: rgb(218, 147, 16);
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}

/* MOBILE SIZE*/

.white-ball-sm-login {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    position: absolute;
    width: 70vw;
    height: 70vw;
    max-width: 60vh;
    max-height: 60vh;
    background-color: rgb(218, 147, 16);
    border-radius: 50%;
    box-shadow: 0 8px 16px rgba(0,0,0,0.3),
    inset 0 2px 4px rgba(255,255,255,0.5);
    background-color: white;
    z-index: 2;
}