.navbar-superposition {
    position: relative;
}

.navbar-container {
    display: flex;
    float: inline-end;
    justify-content: flex-end;
    align-items: center;
    height: 100vh;
    position: relative;
}

.myNavbar {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-right: 10px;
}

.myNavbar .nav-link {
    opacity: 0.75;
    color: rgba(255, 255, 255, 0.75);
    filter: blur(2px);
    transition: all 0.3s ease;
}

.myNavbar .nav-link.active {
    opacity: 1;
    color: white;
    filter: blur(0px);
}

/* NAVBAR SMALL SCREEN */

.navbar-container-sm {
    /* position: fixed; */
    /* top: 0; */
    /* right: 0; */
    /* width: 100%; */
    /* display: flex; */
    /* justify-content: flex-end; */
    /* z-index: 1000; */

    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    z-index: 1000;
    padding: 10px;
}

.navSm {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
}

.myNavbar-sm {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-right: 10px;
}

.myNavbar-sm .collapse {
    position: fixed;
    top: 60px;
    right: 10px;
    z-index: 1000;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    padding: 10px 30px;

    margin-top: 20px;
}

.myNavbar-sm .nav-link {
    color: white;
    margin: 10px 0;
}

.myNavbar-sm .nav-link:hover {
    color: black;
}
