/* BALLS */
.balls-signin {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.arrow {
    color: white;
    margin-bottom: 30vh;
    margin-left: -5vh;
    font-size: 2rem;
}

.arrow:hover {
    color: rgb(218, 147, 16);
}

.arrow-s {
    color: white;
    margin-bottom: 31vh;
    margin-right: 35vw;
    font-size: 2rem;
}

.arrow-s:hover {
    color: rgb(218, 147, 16);
}

.orange-ball-signin {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
    margin: 0;
    margin-right: 30vw;
    width: 40vw;
    height: 40vw;
    max-width: 60vh;
    max-height: 60vh;
    background-color: rgb(218, 147, 16);
    border-radius: 50%;
    box-shadow: 0 8px 16px rgba(0,0,0,0.3),
    inset 0 2px 4px rgba(255,255,255,0.5);
    background-color: rgb(218, 147, 16);
    z-index: 2;
}

.white-ball-signin {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-left: 25%;
    margin-top: 12%;
    width: 40vw;
    height: 40vw;
    max-width: 60vh;
    max-height: 60vh;
    background-color: rgb(218, 147, 16);
    border-radius: 50%;
    box-shadow: 0 8px 16px rgba(0,0,0,0.3),
    inset 0 2px 4px rgba(255,255,255,0.5);
    background-color: white;
    z-index: 1;
}

/* FORMULAR */
.login-form-signin {
    margin-top: 5%;
    padding: 40px;
    text-align: center;
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    overflow: hidden;
}

input[type="text"], input[type="password"], input[type="email"] {
    border: none;
    border-bottom: 1px solid #333;
    background-color: transparent;
    margin: 10px 0;
    padding: 8px;
    width: calc(100% - 20px);
    outline: none;
}

.button-signin {
    font-family: Lato, sans-serif;
    font-size: 14px;
    color: black;
    background-color: transparent;
    border: solid 2px;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    transition: background-color 0.3s, box-shadow 0.3s;
    margin-top: 10px;
    font-weight: bold;
}

.button-signin:hover {
    background-color: rgb(218, 147, 16);
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}

/* MOBILE VERSION */

.orange-ball-signin-sm {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    width: 70vw;
    height: 70vw;
    max-width: 60vh;
    max-height: 60vh;
    background-color: rgb(218, 147, 16);
    border-radius: 50%;
    box-shadow: 0 8px 16px rgba(0,0,0,0.3),
    inset 0 2px 4px rgba(255,255,255,0.5);
    background-color: rgb(218, 147, 16);
    z-index: 2;
}

.arrow-s-sm {
    color: rgb(218, 147, 16);
    margin-bottom: 40vh;
    margin-right: 50vh;
    font-size: 2rem;
}

.arrow-s-sm:hover {
    color: white;
}
