/*********************************************************/
/*               medium & large screen                   */
/*********************************************************/

/* BALLS */
.balls-signin {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.orange-ball-signin,
.white-ball-signin {
    width: 40vw;
    height: 40vw;
    max-width: 60vh;
    max-height: 60vh;
    border-radius: 50%;
    box-shadow: 0 8px 16px rgba(0,0,0,0.3),
    inset 0 2px 4px rgba(255,255,255,0.5);
    z-index: 2;
}

.orange-ball-signin {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
	flex-direction: column;
    margin: 0;
    margin-right: 25vw;
    background-color: rgb(218, 147, 16);
    z-index: 2;
}

.white-ball-signin {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-left: 25%;
    margin-top: 6%;
    border-radius: 50%;
    box-shadow: 0 8px 16px rgba(0,0,0,0.3),
    inset 0 2px 4px rgba(255,255,255,0.5);
    background-color: white;
    z-index: 1;
}

/* FORM */
.login-form-signin {
    padding: 40px;
    max-width: 400px;
    text-align: center;
    position: absolute;
    overflow: hidden;
    font-family: 'Play';
}

/* BUTTON */
.arrow-s {
    color: white;
    margin-bottom: 55vh;
    margin-right: 30vw;
    font-size: 2rem;
}

.arrow-s:hover {
    color: rgb(218, 147, 16);
}

.button-signin {
    font-family: Lato, sans-serif;
    font-size: 80%;
    color: black;
    background-color: transparent;
    border: solid 2px;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    transition: background-color 0.3s, box-shadow 0.3s;
    margin-top: 10px;
    font-weight: bold;
    width: 13vw;
    height: 3vh;
}

.button-signin:hover {
    background-color: rgb(224, 177, 101);
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}

/*********************************************************/
/*                     small screen                      */
/*********************************************************/

/* BALLS */
.orange-ball-signin-sm {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
	flex-direction: column;
    height: 100vh;
    margin: 0;
    width: 70vw;
    height: 70vw;
    max-width: 60vh;
    max-height: 60vh;
    border-radius: 50%;
    box-shadow: 0 8px 16px rgba(0,0,0,0.3),
    inset 0 2px 4px rgba(255,255,255,0.5);
    background-color: rgb(218, 147, 16);
    z-index: 2;
}

/* FORM */
.login-input-signin {
    border: none;
    border-bottom: 1px solid #333;
    background-color: transparent;
    margin: 10px 0;
    outline: none;
    width: 100%;
    box-sizing: border-box;
}

/* BUTTON */
.arrow-s-sm {
    color: rgb(218, 147, 16);
    margin-bottom: 50vh;
    margin-right: 50vh;
    font-size: 2rem;
}

.arrow-s-sm:hover {
    color: white;
}


/*********************************************************/
/*                     media screen                      */
/*********************************************************/

@media (min-width: 1318px) {

    .orange-ball-signin {
        margin-left: 3vw;
    }

    .white-ball-signin {
        margin-right: 3vw;
    }
}

@media (max-height: 350px) {

    .orange-ball-signin,
    .white-ball-signin {
        font-size: 3vh;
    }
}

@media (max-height: 523px) and (min-width: 767px) {

    .login-input-signin {
        display: none;
    }
    
    .button-signin {
        display: none;
    }
}

@media (max-width: 678px) {

    .login-input-signin {
        width: 100%;
    }
}


@media (max-width: 570px) {
    .arrow-s-sm {
        margin-bottom: 40vh;
        margin-right: 35vh;
    }

    .button-signin {
        font-size: 50%;
    }

    .login-form-signin {
        margin-right: 3vh;
    }
}

@media (max-width: 401px) {

    .arrow-s-sm {
        margin-bottom: 40vh;
        margin-right: 20vh;
    }
}

@media (max-height: 774px) {

    .arrow-s-sm {
        margin-bottom: 60vh;
        margin-right: 40vh;
    }
}

